.btns {
  //max-width: 1560px;
  //margin: 60px auto;
  //
  //display: flex;
  //justify-content: center;
  //flex-wrap: wrap;

  button {
    margin: 20px;
    border-radius: 20px;
    width: 210px;
    height: 72px;

    background: #ffffff;
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 19px;
    color: #1C1C39;

    transition: all 0.3s ease;

    &:hover {
      background: #422ED4;
      color: #ffffff;
      transform: translateY(-2px);
      box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    }
  }
}